<%= simple_form_for [@edition, @post, @balloon], method: :post do |f| %>
  <div class="btn-group radio-options" data-toggle="buttons">
    <label class="btn btn-default btn-xs active text">
      <%= f.radio_button("type", "Texto", checked: "checked") %> Texto
    </label>
    <label class="btn btn-default btn-xs img">
      <%= f.radio_button("type", "Imagem/GIF") %> Imagem/GIF
    </label>
  </div>
  <br>
  <%= f.input :content, label: false, placeholder: "Texto", wrapper_html: { class: "emoji-picker-container" }, input_html: { data: { emojiable: true } } %>
  <%= f.input :balloon_img, label: false %>
  <%= f.input :balloon_img_cache, as: :hidden %>
  <%= f.input :link, label: false, placeholder: "URL para texto ou imagem" %>
  <%= f.submit 'Criar um balão', class: "btn btn-default" %>
  <%= link_to "Finalizar post", new_edition_post_path(@edition), class: "btn btn-default" %>
<% end %>

<% content_for(:js) do %>

  <script>

    $("#balloon_balloon_img").hide();

    $('.text').on("click", function(){
      $(".emoji-picker-container").show();
      $("#balloon_balloon_img").hide();
    });

    $('.img').on("click", function(){
      $("#balloon_balloon_img").show();
      $(".emoji-picker-container").hide();
    });

  </script>

<% end %>

