<div class="balloons-fields">
  <p class="text-right section-partial">Balão</p>
  <%= link_to_remove_association "<i class='fa fa-times-circle times-color' aria-hidden='true'></i><span class='plus-name'>Remover</span>".html_safe, f, data: { confirm: 'Tem certeza que deseja apagar este balão?'}, wrapper_class: "balloons-fields" %>
  <br>

  <div class="btn-group radio-options" data-toggle="buttons">
    <label class="btn btn-default btn-xs active text-option">
      <%= f.radio_button("type", "Texto", checked: "checked") %> Texto
    </label>
    <label class="btn btn-default btn-xs img-option">
      <%= f.radio_button("type", "Imagem/GIF") %> Imagem/GIF
    </label>
    <label class="btn btn-default btn-xs gif-option">
      <%= f.radio_button("type", "Buscar GIF") %> Buscar GIF
    </label>
    <label class="btn btn-default btn-xs map-option">
      <%= f.radio_button("type", "Localização") %> Localização
    </label>
    <label class="btn btn-default btn-xs meteo-option">
      <%= f.radio_button("type", "Meteorologia") %> Meteorologia
    </label>
  </div>

  <br>

  <div class="balloon-form hide-field" id="input-text-balloon">
    <%= f.input :content, label: false, placeholder: "Texto", input_html: { data: { emojiable: true }, class: "emoji-picker-container balloon-form-input-text" } %>
    <%= f.input :link, label: false, placeholder: "Link para texto", input_html: { class: "balloon-form-input balloon-form-link" } %>
  </div>

  <div class="balloon-form hide-field hidden" id="input-img-balloon">
    <%= f.input :balloon_img, label: false %>
    <%= f.input :balloon_img_cache, as: :hidden %>
  </div>

  <div class="balloon-form hide-field hidden" id="input-gif-balloon">
    <%= f.input :balloon_gif, label: false, placeholder: "Buscar um GIF", input_html: { class: "balloon-form-input gif-library" } %>
  </div>

  <div class="balloon-form hide-field hidden" id="input-map-balloon">
    <%= f.input :address, label: false, placeholder: "Endereço", input_html: { class: "balloon-form-input" } %>
  </div>

  <div class="balloon-form hide-field hidden weather" id="input-meteo-balloon">
    <%= f.input :weather, label: false, placeholder: "Buscar por cidade para obter previsão de tempo", input_html: { class: "balloon-form-input" } %>
    <a href="#" id="weather" class="btn btn-primary">Pesquisar</a>
  </div>
    <!-- <p>Vai exibir temperatura máxima e mínima, velocidade do vento e umidade do ar</p> -->

</div>



