
<div class="no-gutter user-page" >
    <div class="editionbanner col-xs-12 col-sm-6 l-side" style="background-image: linear-gradient(-225deg, rgba(213,228,200,0.98) 0%, rgba(213,215,215,0.8) 50%), url('http://res.cloudinary.com/dpg1ipkol/image/upload/v1503347454/ceulimpo_anptvb.jpg');">
    <h1>Revisão final.</h1>
    <hr>
    <h4>
      Informações da edition do dia <%= @edition.date.to_date.strftime("%d, %m, %Y")%>.
    </h4>
    <p>
      Posts: <%= @edition.posts.count %>
    </p>
    <% n = 0 %>
    <% @edition.posts.each do |post|%>
      <% n = n + post.balloons.count %>
    <% end %>
    <p>
      Balloons: <%= n %>
    </p>
    <hr>
    <h4>
      Editar posts:
    </h4>
    <% @edition.posts.each_with_index do |post, index| %>
      <p>
        <%= link_to "Editar POST  #{(index + 1).to_s}", edit_post_path(post), :class => "btn btn-post" %>
        <%= " Título: " + post.headline %>
      </p>
    <% end %>

    <hr>
    <p>
      <%= link_to "Nada que editar", user_path(@user), :class => "btn btn-post" %>

    </p>
  </div>

  <div class="col-xs-12 col-sm-6 r-side">
    <%= render partial: "shared/preview" %>
  </div>

  </div>


<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        console.log(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
