
<div class="no-gutter user-page" >
    <div class="editionbanner teste col-xs-12 col-sm-6 l-side" style="background-image: linear-gradient(-225deg, rgba(255,128,8,0.6) 0%, rgba(255,200,55,0.6) 50%), url('https://static.pexels.com/photos/9634/pink-hair-selfie-bun.jpg');">

    <h1>Revisão
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </h1>

    <hr>

    <h4>
      Resumo da edição do dia [<%= @edition.date.to_date.strftime("%d, %m, %Y")%>].
    </h4>

    <p>
      N° de posts: <%= @edition.posts.count %>
    </p>
    <% n = 0 %>
    <% @edition.posts.each do |post|%>
      <% n = n + post.balloons.count %>
    <% end %>
    <p>
      N° de balloons: <%= n %>
    </p>

    <hr>
    <h4>
      Editar posts:
    </h4>

    <% @edition.posts.each_with_index do |post, index| %>
      <p>
        <%= link_to "Post  #{(index + 1).to_s}", edit_post_path(post), :class => "btn  btn-warning btn-xs" %>
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        <i><%= post.headline %>...</i>
      </p>
    <% end %>

    <hr>
    <p>
      <%= link_to "Concluir", user_path(@user), :class => "btn btn-warning btn-sm btn-post" %>
    </p>
  </div>

  <div class="col-xs-12 col-sm-6 r-side">
    <%= render partial: "shared/preview" %>
  </div>

  </div>

