<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 l-side" style="background-image: linear-gradient(-225deg, rgba(255,128,8,0.6) 0%, rgba(255,200,55,0.6) 50%), url('https://static.pexels.com/photos/9634/pink-hair-selfie-bun.jpg');">
    <h1>allora</h1>
    <p>[v20170807]</p>

      <%= link_to "Editar edição", edit_edition_path(@edition), class: "btn btn-default" %>

      <%= link_to "Apagar edição", user_path(@user), method: :delete, data: { confirm: "Tem certeza que deseja apagar toda a edição?" } %>

    <div class="user-content">
      <h3>
        <%= @user.username %>
      </h3>
      <h4>
        <%= @user.first_name.capitalize + " " + @user.last_name.capitalize %>
      </h4>
      <p>
        <%= @user.category %>
        <%#= @edition.balloons.first.weather %>
      </p>

    </div>
  </div>

  <div class="col-xs-12 col-sm-6 r-side">
    <%= render partial: "shared/preview" %>
  </div>
  </div>
</div>

