<div class="body-index-user">


  <div class="container">
  <br>
    <div class="col-xs-12 col-sm-12 ">


      <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1503453877/fique_por_dentro_kuz51d.jpg' %>


    </div>

    <% influencers = [] %>
      <% if @users.map do |user|%>
        <% if user.editions.present? %>
            <% influencers << user %>
          <% end %>
        <% end %>
      <% end %>


    <div class="row">

      <% influencers.each do |user| %>
      <% if user.user_photo.present? %>
        <% image_url = user.user_photo.url %>
      <% else %>
        <% image_url = 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502308490/empresario_318-72886_gbwwol.png'%>
      <% end %>

      <div class="col-xs-12 col-sm-4">
        <div class="card-username">
          <div class="p-username">
            <p><%= user.first_name %> <%= user.last_name %></p>
          </div>
        </div>


        <div class="card grayscale" style="background-image: url(<%= cl_image_path(image_url) %>);">
          <!-- <div class="card-category"><%= user.username %></div> -->
          <div class="card-description">
            <h2><%= user.first_name %></h2>
            <p><%= user.category %></p>
          </div>
          <img class="card-user" src="http://res.cloudinary.com/dpg1ipkol/image/upload/v1503433111/filled_chat1600_uimuaz.png">
          <a class="card-link" href="#" ></a>
        </div>

        <!-- insert <div class="card"> -->
      </div>
      <% end %>


    </div>
  </div>

</div>
