
<div class="color-wrapper">
  <div class="container">


    <div class="box-height">
      <div class="row">
        <h4>Clique no card abaixo para entrar no chat:</h4>

        <% @users.each do |user| %>


            <div class="col-md-3 col-sm-12">
              <div class="card-container" style="cursor:pointer" onclick="location.href= 'users/<%=user.id%>'">
                <div class="card">
                  <div class="front">
                    <div class="cover">
                      <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502909434/the-background-1017064_960_720_skuvwv.jpg', width: "auto" %>

                    </div>
                    <div class="user img-circle" >
                      <% if user.user_photo.present? %>
                        <%= image_tag user.user_photo, class: 'card-user' %>
                      <% else %>
                        <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502308490/empresario_318-72886_gbwwol.png', class: 'card-user' %>
                      <% end %>
                    </div>
                    <div class="content">
                      <div class="main">

                          <h3 class="name"> <%= user.first_name %> </h3>
                          <p class="profession"> <%= user.category %> </p>
                          <p class="text-center">"MODA, BELEZA, LIFESTYLE E TENDÊNCIAS"</p>
                      </div>
                      <div class="footer">
                          <i class="fa fa-mail-forward"></i> Allora
                      </div>
                  </div>
                </div> <!-- end front panel -->

                <div class="back">
                  <div class="header">
                      <h5 class="motto">"Viva a vida"</h5>
                  </div>
                    <div class="content">
                      <div class="main">
                        <h4 class="text-center">Descrição da pessoa</h4>
                        <p class="text-center">MODA, BELEZA, LIFESTYLE E TENDÊNCIAS"</p>

                        <div class="stats-container">
                          <div class="stats">
                            <h4>235</h4>
                            <p>
                                Followers
                            </p>
                          </div>
                          <div class="stats">
                            <h4>114</h4>
                            <p>
                                Following
                            </p>
                          </div>
                          <div class="stats">
                            <h4>35</h4>
                            <p>
                                Projects
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="footer">
                      <div class="social-links text-center">
                        <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                        <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                        <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                      </div>
                    </div>

                  </div> <!-- end back panel -->
                </div> <!-- end card -->
              </div> <!-- end card-container -->
            </div>

        <% end %>

      </div>

    </div>
  </div>
</div>


