<div class="row no-gutter">
  <% if @user.banner.present? %>
    <div class="col-xs-12 col-sm-6 l-side" id= "banner_edition" style="background-image: url('<%= cl_image_path @user.banner %>');">
  <% else %>
    <div class="col-xs-12 col-sm-6 l-side" id= "banner_edition" style="background-image: url('http://res.cloudinary.com/dpg1ipkol/image/upload/v1503069359/lep8qikttrcqj7g3fzsw.gif');">
  <% end %>

    <h1>Allora</h1>
    <p>[v20170817]</p>
      <% if user_signed_in? && current_user == @user %>
        <%= link_to "Create - Edition", new_edition_path, class: "btn btn-warning btn-xs" %>
        <%= simple_form_for @user do |b| %>
          <%= b.input :banner %>
          <%= b.input :banner_cache, as: :hidden %>
          <%= b.submit 'Upload banner', class: "btn btn-warning btn-xs" %>
        <% end%>
      <% end %>

    <div class="user-content">
      <h3>
          <%= @user. username %>
      </h3>
      <h4>
        <%= @user.first_name.capitalize + " " + @user.last_name.capitalize %>
      </h4>
      <p>
        <%= @user.category %>
      </p>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 r-side">

    <%= render partial: "shared/app" %>
  </div>
</div>
