<% content_for :meta_title, "#{@user.username} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.description %>
<% content_for :meta_image, cloudinary_url(@user.user_photo.path) %>

<div class="row">


  <div class="row no-gutter" id="homebanner" >
    <div class="hidden-sm hidden-xs">

      <div class="col-xs-12 col-sm-6 l-side" style="background-image: linear-gradient(-225deg, rgba(255,128,8,0.6) 0%, rgba(255,200,55,0.6) 50%), url(<%= check_user_photo %>);">
        <div id="btn-edit" class="align-items">
          <% if user_signed_in? %>
            <% if current_user == @user %>
              <p>
                <%= link_to "Criar edição", new_edition_path, class: "btn btn-warning" %>
              </p>
              <p>
                <% if @user.editions.present? %>
                  <%= link_to "Editar última edição", edition_path(current_user.editions.last.id), class: "btn btn-warning" %>
                <% end %>
              </p>
            <% end %>
          <% end %>
        </div>
        <div class="container" id="blog-card">

        <div class="tittle-user">
          <h1><%= @user.first_name.capitalize + " " + @user.last_name.capitalize %></h1>
        </div>
          <div class="card-info title-content">

           <h4><%= @user.description %></h4>

         </div>

        </div>

      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= render partial: "shared/app" %>
    </div>

  </div>
</div>







