<div id="app">
<div id="modal-iframe" class="hidden"><iframe src="https://es.wikipedia.org/wiki/Iframe"></iframe></div>
  <div id="chat">

    <div class="post">
      <div class="screen1">
        <p class="balloon"><%= content_with_emoji(@edition.greeting) %></p>
        <% if @edition.greeting_img.present? %>
          <p class="balloon"><%= cl_image_tag @edition.greeting_img, height: 150 %></p>
        <% end %>
        <% if @edition.greeting_img_url.present? %>
          <p class="balloon"><%= image_tag @edition.greeting_img_url, height: 150 %></p>
        <% end %>
      </div>
    </div>

    <% @edition.posts.each do |post| %>

      <div class="post">

        <!-- SCREEN 1 -->
        <% if @edition.posts.first == post %>
          <div class="screen1">
            <p class="balloon"><%= content_with_emoji(post.headline) %></p>
            <p class="balloon"><%= cl_image_tag post.post_img, height: 150 %></p>
            <div class="text-center btn-margin">
                <a class="btn btn-xs new-click-more"><%= content_with_emoji(post.option_more) %></a>
              <%# if post.id == @edition.posts.last.id %>
                <!-- botao index -->
              <%# else %>
                <a class="btn btn-xs new-click-next"><%= content_with_emoji(post.option_next) %></a>
              <%# end %>
            </div>
          </div>

        <% else %>
          <div class="screen1">
            <p class="balloon hidden left"><%= content_with_emoji(post.headline) %></p>
            <p class="balloon hidden left"><%= cl_image_tag post.post_img, height: 150 %></p>
            <div class="text-center btn-margin hidden">
              <a class="btn btn-xs new-click-more"><%= content_with_emoji(post.option_more) %></a>
              <%# if post.id == @edition.posts.last.id %>
                <!-- botao index -->
              <%# else %>
                <a class="btn btn-xs new-click-next"><%= content_with_emoji(post.option_next) %></a>
              <%# end %>
            </div>
          </div>
        <% end %>
      <!-- SCREEN 2 -->

        <% post.balloons.order(:created_at).each_slice(2) do |balloon| %>

          <div class="screen2">
            <% if balloon[0].link.blank? %>
              <p class="balloon hidden left">
                <% if balloon[0].balloon_img.blank? %>
                  <%= content_with_emoji(balloon[0].content) %>
                <% else %>
                  <%= cl_image_tag balloon[0].balloon_img, height: 150 %>
                <% end %>
              </p>
            <% else %>
              <p class="balloon hidden left iframe-link">
                <%= content_with_emoji(balloon[0].content) %>
                <br>
                <%= link_to "#{balloon[0].short_link}", balloon[0].link %>
              </p>
              </div>

            <% end %>

            <% if balloon[1].present? %>
              <% if balloon[1].link.blank? %>
                <p class="balloon hidden left">
                  <% if balloon[1].balloon_img.blank? %>
                    <%= content_with_emoji(balloon[1].content) %>
                  <% else %>
                    <%= cl_image_tag balloon[1].balloon_img, height: 150 %>
                  <% end %>
                </p>
              <% else %>
                <p class="balloon hidden left iframe-link">
                  <%= content_with_emoji(balloon[1].content) %>
                  <br>
                  <%= link_to "#{balloon[1].short_link}", balloon[1].link %>
                </p>
              <% end %>
            <% end %>

            <div class="text-center btn-margin hidden">
              <% unless balloon[1] == post.balloons.last || balloon[0] == post.balloons.last %>
                <a class="btn btn-xs new-click-more"><%= content_with_emoji(post.option_more) %></a>
              <% end %>
              <% unless post.id == @edition.posts.last.id %>
                <a class="btn btn-xs new-click-next"><%= content_with_emoji(post.option_next) %></a>
              <% else %>
                <% if balloon[1] == post.balloons.last || balloon[0] == post.balloons.last %>
                  <p class="balloon hidden left"><%= content_with_emoji(@edition.farewell) %></p>
                  <% if @edition.farewell_img.present? %>
                    <p class="balloon hidden left"><%= cl_image_tag @edition.farewell_img, height: 150 %></p>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
