<div id="app">
  <div id="modal-iframe" class="hidden">
    <div id="head-iframe">
      <div id="site-src"></div>
      <div id="iframe-exit"><i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
    <iframe src=""></iframe>
  </div>
  <div id="chat">

    <div class="post">
      <div class="screen1 screen">
        <div>
          <div class="balloon">
            <p><%= content_with_emoji(@edition.greeting) %></p>
          </div>
        </div>
        <% if @edition.greeting_img.present? %>
          <div>
            <div class="balloon">
              <%= cl_image_tag @edition.greeting_img, height: 150 %>
            </div>
          </div>
        <% elsif @edition.greeting_gif.present? %>
          <div>
            <div class="balloon">
              <%= image_tag @edition.greeting_gif, height: 150 %>
            </div>
          </div>
        <% end %>
        <div>
          <div class="text-center btn-margin">
            <a class="btn btn-xs new-click-next">Olá, tudo bem?</a>
          </div>
        </div>
      </div>
    </div>

    <% @edition.posts.each do |post| %>

      <div class="post">

        <!-- SCREEN 1 -->
          <div class="screen1 screen">
            <div>
              <div class="balloon hidden left">
                <p><%= content_with_emoji(post.headline) %></p>
              </div>
            </div>
            <div>
              <% if post.post_img.present? %>
                <div class="balloon hidden left">
                  <%= cl_image_tag post.post_img, height: 150 %>
                </div>
              <% elsif post.post_gif.present? %>
                <div class="balloon hidden left">
                  <%= image_tag post.post_gif, height: 150 %>
                </div>
              <% end %>

            </div>
            <div>
              <div class="text-center btn-margin hidden">
                <a class="btn btn-xs new-click-more"><%= content_with_emoji(post.option_more) %></a>
                <% if post.id == @edition.posts.last.id %>

                <% else %>
                  <a class="btn btn-xs new-click-next"><%= content_with_emoji(post.option_next) %></a>
                <% end %>
              </div>
            </div>

          </div>



      <!-- SCREEN 2 -->

        <% post.balloons.order(:created_at).each_slice(2) do |balloon| %>
          <div class="screen2 screen">
            <% balloon.each do |uniq_balloon| %>

              <div>
                <% if uniq_balloon.content.present? %>
                  <div class="balloon hidden left">
                    <p><%= content_with_emoji(uniq_balloon.content) %></p>
                    <br>
                    <% if uniq_balloon.link.present? %>
                      <%= link_to "#{uniq_balloon.short_link}", uniq_balloon.link, class: "iframe-link" %>
                    <% end %>
                  </div>
                <% elsif uniq_balloon.balloon_img.present? %>
                  <div class="balloon hidden left">
                    <%= cl_image_tag uniq_balloon.balloon_img, height: 150 %>
                  </div>
                <% elsif uniq_balloon.balloon_gif.present? %>
                  <div class="balloon hidden left">
                    <%= image_tag uniq_balloon.balloon_gif, height: 150 %>
                  </div>
                <% elsif uniq_balloon.weather.present? %>
                  <div class="balloon hidden left balloon-weather">
                    <div class="banner_weather" style="background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.32)), url('http://res.cloudinary.com/dpg1ipkol/image/upload/v1503347454/ceulimpo_anptvb.jpg')">
                      <div class="weather-category">
                        <% uniq_balloon.weather.split('-').each do |weather| %>
                          <p><%= weather %></p>
                        <% end %>
                      </div>
                      <img class="card-weather" src="http://res.cloudinary.com/dpg1ipkol/image/upload/v1503350575/sol_bkz0fz.jpg">
                    </div>
                  </div>
                <% elsif uniq_balloon.address.present? %>
                  <div class="balloon hidden left">
                    <div id="map" style="height: 240px; width: 240px "></div>
                      <br>
                      <%= uniq_balloon.address %>
                  </div>
                <% end %>
              </div>

            <% end %>

            <% if post.id == @edition.posts.last.id %>
              <div>
                <div class="balloon hidden left">
                  <p><%= content_with_emoji(@edition.farewell) %></p>
                </div>
              </div>
              <div>
                <% if @edition.farewell_img.present? %>
                  <div class="balloon hidden left">
                    <%= cl_image_tag @edition.farewell_img, height: 150 %>
                  </div>
                <% elsif @edition.farewell_gif.present? %>
                  <div class="balloon hidden left">
                    <%= image_tag @edition.farewell_gif, height: 150 %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div>
                <div class="text-center btn-margin hidden">
                  <% unless balloon[1] == post.balloons.last || balloon[0] == post.balloons.last %>
                    <a class="btn btn-xs new-click-more"><%= content_with_emoji(post.option_more) %></a>
                  <% end %>
                    <a class="btn btn-xs new-click-next"><%= content_with_emoji(post.option_next) %></a>
                </div>
              </div>
            <% end %>

          </div>
        <% end %>



      </div>
    <% end %>
  </div>
</div>
