<div id="preview">

  <div id="chat">
    <div class="post">
      <div class="screen1 screen">
        <div>
        <h6 class="text-center preview-section">SAUDAÇÃO</h6>
          <div class="balloon">
            <p><%= content_with_emoji(@edition.greeting) %></p>
          </div>
        </div>
        <% if @edition.greeting_img.present? %>
          <div>
            <div class="balloon balloon-image">
              <%= cl_image_tag @edition.greeting_img, height: 150 %>
            </div>
          </div>
        <% elsif @edition.greeting_gif.present? %>
          <div>
            <div class="balloon balloon-image">
              <%= image_tag @edition.greeting_gif, height: 150 %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% @edition.posts.each_with_index do |post, index| %>
      <div class="post">
        <h6 class="text-center preview-section">POST <%= index + 1 %></h6>
        <!-- SCREEN 1 -->
          <div class="screen1 screen">
            <div>
              <div class="balloon">
                <p><%= content_with_emoji(post.headline) %></p>
              </div>
            </div>
            <div>
              <% if post.post_img.present? %>
                <div class="balloon balloon-image">
                  <%= cl_image_tag post.post_img, height: 150 %>
                </div>
              <% elsif post.post_gif.present? %>
                <div class="balloon balloon-image">
                  <%= image_tag post.post_gif, height: 150 %>
                </div>
              <% end %>
            </div>
          </div>
      <!-- SCREEN 2 -->

        <% post.balloons.order(:created_at).each do |balloon| %>
          <div class="screen2 screen">
              <div>
                <% if balloon.content.present? %>
                  <div class="balloon ">
                    <p><%= content_with_emoji(balloon.content) %></p>
                    <br>
                    <% if balloon.link.present? %>
                      <%= link_to "#{balloon.short_link}", balloon.link, class: "iframe-link" %>
                    <% end %>
                  </div>
                <% elsif balloon.balloon_img.present? %>
                  <div class="balloon balloon-image">
                    <%= cl_image_tag balloon.balloon_img, height: 150 %>
                  </div>
                <% elsif balloon.balloon_gif.present? %>
                  <div class="balloon balloon-image">
                    <%= image_tag balloon.balloon_gif, height: 150 %>
                  </div>
                <% elsif balloon.weather.present? %>
                  <div class="balloon " style="background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.32)), url('http://res.cloudinary.com/dpg1ipkol/image/upload/v1503347454/ceulimpo_anptvb.jpg')">
                    <div class="weather-category">
                      <% balloon.weather.split('-').each do |weather| %>
                        <p><%= weather %></p>
                      <% end %>
                    </div>
                  </div>
                <% elsif balloon.address.present? %>

                  <div class="balloon ">
                    <%= link_to "#{balloon.address}", "http://www.google.com/maps/place/#{balloon.latitude}#{balloon.longitude}" %>
                      <p><%= balloon.address %></p>
                  </div>
                <% elsif balloon.youtube.present? %>
                  <div class="balloon  balloon-video balloon-image" >
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= balloon.youtube_embed %>"></iframe>
                    </div>
                  </div>
                <% end %>
              </div>

          </div>
        <% end %>
      </div>
    <% end %>
    <div>
    </div>
    <div class="post">
      <h6 class="text-center preview-section">DESPEDIDA</h6>
      <div class="balloon">
        <p><%= content_with_emoji(@edition.farewell) %></p>
      </div>
    <div>
      <% if @edition.farewell_img.present? %>
        <div class="balloon balloon-image">
          <%= cl_image_tag @edition.farewell_img, height: 150 %>
        </div>
      <% elsif @edition.farewell_gif.present? %>
        <div class="balloon balloon-image">
          <%= image_tag @edition.farewell_gif, height: 150 %>
        </div>
      <% end %>
    </div>
    </div>

  </div>
</div>
