<div id="app">
  <div id="chat">
    <div class="post">
      <h4>SAUDAÇÕES</h4>
        <div class="balloon">
          <p><%= content_with_emoji(@edition.greeting) %></p>
        <% if @edition.greeting_img.present? %>
          <%= cl_image_tag @edition.greeting_img, height: 150 %>
        <% end %>
        <% if @edition.greeting_gif.present? %>
          <%= image_tag @edition.greeting_gif, height: 150 %>
        <% end %>
      </div>
    </div>
    <% if @edition.posts.present? %>
      <% @edition.posts.each_with_index do |post, index| %>
        <div class="post">
          <h4> POST <%= index + 1%> </h4>
          <div class="balloon">
            <p><%= content_with_emoji(post.headline) %></p>
            <% if post.post_img.present? %>
              <%= cl_image_tag post.post_img, height: 150 %>
            <% end %>
          </div>
          <div class="text-center btn-margin">
            <%= link_to content_with_emoji(post.option_more), "#", class: "btn btn-xs new-click-more" %>
          </div>

          <% if post.balloons.present? %>

            <% post.balloons.each do |balloon|%>

              <% if balloon.link.blank? %>
                <div class="balloon">
                  <% if balloon.content.present? %>
                  <p>
                    <%= content_with_emoji(balloon.content) %>
                  </p>
                  <% elsif balloon.balloon_img.present? %>
                    <%= cl_image_tag balloon.balloon_img, height: 150 %>
                  <% elsif balloon.address.present? %>

                    <div id="map" style="height: 240px; width: 240px "></div>
                    <br>
                    <%= balloon.address %>
                  <% elsif balloon.weather.present? %>
                    <div class="balloon-weather">
                      <div class="banner_weather" style="background-image: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.32)), url('http://res.cloudinary.com/dpg1ipkol/image/upload/v1503347454/ceulimpo_anptvb.jpg');">
                        <div class="weather-category">
                          <% balloon.weather.split('-').each do |weather| %>
                            <p><%= weather %></p>
                          <% end %>
                        </div>
                        <img class="card-weather" src="http://res.cloudinary.com/dpg1ipkol/image/upload/v1503350575/sol_bkz0fz.jpg">
                      </div>
                    </div>
                  <% end %>
                </div> <!-- Final de cada balloon sem link -->

              <% else %>
                <div class="balloon" style="cursor:pointer" onclick="location.href='<%= balloon.link %>'">
                  <% if balloon.balloon_img.blank? %>
                    <p><%= content_with_emoji(balloon.content) %></p>
                  <% else %>
                    <%= cl_image_tag balloon.balloon_img, height: 150 %>
                  <% end %>
                </div>
                <p>
                  <%= link_to "#{balloon.link}", balloon.link %>
                </p>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <% unless post.id == @edition.posts.last.id %>
          <div class="text-center btn-margin">
            <%= link_to content_with_emoji(post.option_next), "#", class: "btn btn-xs new-click-next" %>
          </div>
        <% end %>
      <% end %>

    <% end %>

    <div class="post">
      <h4>DESPEDIDA</h4>
      <div class="balloon">
        <p><%= content_with_emoji(@edition.farewell) %></p>
      <% if @edition.farewell_img.present? %>
        <%= cl_image_tag @edition.farewell_img, height: 150 %>
      <% end %>
      </div>
    </div>

  </div>
</div>
