<div id="chatbox">
  <div id="app">
    <div class="post">
      <h4>SAUDAÇÕES</h4>
      <p class="balloon"><%= content_with_emoji(@edition.greeting) %></p>
      <% if @edition.greeting_img.present? %>
        <p class="balloon"><%= cl_image_tag @edition.greeting_img, height: 150 %></p>
      <% end %>
    </div>
    <% if @edition.posts.present? %>
      <% @edition.posts.each_with_index do |post, index| %>
        <div class="post">
          <h4> POST <%= index + 1%> </h4>

          <p class="balloon"><%= content_with_emoji(post.headline) %></p>
            <%= cl_image_tag post.post_img, height: 150 %>
          <div class="text-center btn-margin">
            <%= link_to content_with_emoji(post.option_more), "#", class: "btn btn-xs new-click-more" %>
          </div>

          <% if post.balloons.present? %>
            <% post.balloons.each do |balloon|%>

              <% if balloon.link.blank? %>
                <p class="balloon">
                  <% if balloon.balloon_img.blank? %>
                    <%= content_with_emoji(balloon.content) %>
                  <% else %>
                    <%= cl_image_tag balloon.balloon_img, height: 150 %>
                  <% end %>
                </p>
              <% else %>
                <p class="balloon " style="cursor:pointer" onclick="location.href='<%= balloon.link %>'">
                  <% if balloon.balloon_img.blank? %>
                    <%= content_with_emoji(balloon.content) %>
                  <% else %>
                    <%= cl_image_tag balloon.balloon_img, height: 150 %>
                  <% end %>
                </p>
                <p>
                  <%= link_to "#{balloon.link}", balloon.link %>
                </p>
              <% end %>

            <% end %>
          <% end %>
        </div>
        <% unless post.id == @edition.posts.last.id %>
          <div class="text-center btn-margin">
            <%= link_to content_with_emoji(post.option_next), "#", class: "btn btn-xs new-click-next" %>
          </div>
        <% end %>
      <% end %>

    <% end %>

    <div class="post">
      <h4>DESPEDIDA</h4>
      <p class="balloon"><%= content_with_emoji(@edition.farewell) %></p>
      <% if @edition.farewell_img.present? %>
        <p class="balloon"><%= cl_image_tag @edition.farewell_img, height: 150 %></p>
      <% end %>
    </div>

  </div>
</div>
