<!-- <p>Pages home</p>

<%= cl_image_tag("THE_IMAGE_ID_FROM_LIBRARY",
      width: 400, height: 300, crop: :fill) %> -->

  <div class="dots">
    <ul class="nav">
      <li><a href="#zero"><div class="dot"></div></a></li>
      <li><a href="#one"><div class="dot"></div></a></li>
      <li><a href="#two"><div class="dot"></div></a></li>
      <li><a href="#three"><div class="dot"></div></a></li>
    </ul>
  </div>

  <div class="color-wrapper">
    <div class="home-vertical" id="zero">

      <div class="col-xs-12 col-sm-6 slide-left">
          <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1503261595/hm_ft79qn.jpg', width: "auto" %>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="main-content">
          <p>Allora, <br>
          a sua <strong>newsletter</strong> interativa!
          </p>
        </div>
        <div class="second-content">
          <p>
            A maneira mais divertida de expor conteúdo <br> para os seus seguidores <i class="fa fa-commenting-o" aria-hidden="true"></i><br>
            <%= link_to "Cadastrar", users_path, class: "btn btn-warning btn-home" %>
            <%= link_to "Entrar no chat", users_path, class: "btn btn-warning btn-home" %>
            <% if user_signed_in? %>
              <%= link_to "Criar edição", new_edition_path, class: "btn btn-warning btn-home" %>
            <% end %>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12">
        <div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,128,8,0.6) 0%, rgba(255,200,55,0.6) 50%),  url('http://res.cloudinary.com/dpg1ipkol/image/upload/v1502893212/pink-hair-selfie-bun_mcxqea.jpg');">
        </div>
      </div>
    </div>












    <div class="container">
      <div class="home-vertical" id="three">
        <div class="col-xs-12 col-sm-6 slide-left">
          <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502830965/foto_mfzhye.jpg', width: "auto" %>
        </div>

        <div class="col-xs-12 col-md-6 slide-right allora">

            <div class ="allora-size"> <strong> Allora, a maneira mais rápida de criar conteúdo!
            </strong> </div>

            <p text-align="justify"> Ofereça informação aos seus seguidores no formato de um bate-papo! É muito mais amigável que o e-mail e mais eficiente do que o telefone.
            </p>

            <p class = class-p><i>Você é um influenciador? <u>Cadastre-se.</u></i></p>
            <br>
            <p class-p><i>Experimente allora gratuitamente e publique conteúdo para os seus seguidores.</i></p>

        </div>
      </div>


      <div class="home-vertical" id="three">

        <div class="col-xs-12 col-md-6 slide-right">
            <div class="allora-size"><strong> Como funciona ? </strong></div>
            <br>
            <article>
              <strong>1° -</strong> Cadastre-se no nosso site <br>
              <strong>2° -</strong> Crie conteúdos para os seus seguidores <br>
              FIM.. Simples assim!
            </article>
            <H4>Você é um influenciador?</H4><button type="button" class="btn btn-warning"> Cadastre-se agora </button>
        </div>
        <div class="col-xs-12 col-sm-6 slide-left">
          <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502835026/giphy_zgdxon.gif', width: "auto" %>
        </div>
      </div>


  </div>
</div>







