<!-- <p>Pages home</p>

<%= cl_image_tag("THE_IMAGE_ID_FROM_LIBRARY",
      width: 400, height: 300, crop: :fill) %> -->


  <div class="dots">
    <ul class="nav">
      <li><a href="#zero"><div class="dot"></div></a></li>
      <li><a href="#one"><div class="dot"></div></a></li>
      <li><a href="#two"><div class="dot"></div></a></li>
      <li><a href="#three"><div class="dot"></div></a></li>
      <li><a href="#four"><div class="dot"></div></a></li>
    </ul>
  </div>


  <div class="cont">
    <div class="slider"></div>
    <ul class="nav"></div>
    <div data-target='right' class="side-nav side-nav--right"></div>
    <div data-target='left' class="side-nav side-nav--left"></div>
  </div>

  <div class="color-wrapper">
    <div id="zero" class="banner" style="background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.15) 0%,  rgba(0, 0, 0, 0.25) 50%), url('http://res.cloudinary.com/dpg1ipkol/image/upload/v1503058059/priscilla-du-preez-216790_vymfvh.jpg');">
      <div class="banner-content">



        <h1><i>Bem-vindo ao Allora</i></h1>
        <%= link_to "Entrar no chat", users_path, class: "btn btn-warning" %>
        <% if user_signed_in? %>
          <%= link_to "Create - Edition", new_edition_path, class: "btn btn-warning" %>
        <% end %>

      </div>
    </div>

    <div class="container">
      <div class="home-vertical" id="one">
        <div class="col-xs-12 col-sm-6 slide-left">
          <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502830965/foto_mfzhye.jpg', width: "auto" %>
        </div>

        <div class="col-xs-12 col-md-6 slide-right">


            <h2> <strong> Allora, a maneira mais rápida de obter informação! </strong> </h2>

            <article> Tem melhor forma de oferecer-lhes informação do que através de um  bate-paporápido? É muito mais rápido que o e-mail e mais eficiente do que o telefone.
            </article>

            <button type="button" class="btn btn-warning"> Experimente de graça </button>
            <p class = class-p><i>Você é um influenciador? <u>Faça login.</u></i></p>
            <br>
            <p class-p><i>Experimente allora gratuitamente e acompanhe todos os posts do seu influenciador preferido.</i></p>

        </div>
      </div>

      <div class="home-vertical" id="two">
        <div class="col-xs-12 col-md-6 slide-right banner-color">
            <h2> <strong> Veja como funciona </strong> </h2>
            <button type="button" class="btn btn-warning"> Try it Free </button>
            <br>
            <article> All messages in public channels, files, uploads and incoming information become indexed and searchable once inside Slack, giving your team access to the collective knowledge of the company. And the more you work in Slack, the smarter Slack’s search becomes, making it easier for you to find exactly what you’re looking for.</article>
            <H4>Você é um influenciador? <u> Sign in </u> </H4>
        </div>

        <div class="col-xs-12 col-sm-6 slide-left">
          <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502830965/foto_mfzhye.jpg', width: "auto" %>
        </div>
      </div>

      <div class="home-vertical" id="three">
        <div class="col-xs-12 col-sm-6 slide-left">
          <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502835026/giphy_zgdxon.gif', width: "auto" %>
        </div>

        <div class="col-xs-12 col-md-6 slide-right">
            <h2> <strong> Saiba mais </strong> </h2>
            <button type="button" class="btn btn-warning"> Try it Free </button>
            <br>
            <article> All messages in public channels, files, uploads and incoming information become indexed and searchable once inside Slack, giving your team access to the collective knowledge of the company. And the more you work in Slack, the smarter Slack’s search becomes, making it easier for you to find exactly what you’re looking for.</article>
            <H4>Você é um influenciador? <u> Sign in </u> </H4>
        </div>
      </div>

      <div class="home-vertical" id="four">
        <div class="col-xs-12 col-md-6 slide-left">
            <h2> <strong> Get Started </strong> </h2>
            <button type="button" class="btn btn-warning"> Try it Free </button>
            <br>
            <article> All messages in public channels, files, uploads and incoming information become indexed and searchable once inside Slack, giving your team access to the collective knowledge of the company. And the more you work in Slack, the smarter Slack’s search becomes, making it easier for you to find exactly what you’re looking for. </article>
            <H4>Você é um influenciador? <u> Sign in </u> </H4>
        </div>

        <div class="col-xs-12 col-sm-6 slide-right">
          <%= image_tag 'http://res.cloudinary.com/dpg1ipkol/image/upload/v1502929179/macbook_p4h6cz.png', width: "600px" %>
        </div>
      </div>
    </div>
  </div>

