<div class="form-container">
  <div id="form-chatbox">
    <%= simple_form_for @post do |f| %>
      <%= f.input :headline, label: false, placeholder: "Título do post", wrapper_html: { class: "balloon-form" }, input_html: { data: { emojiable: true }, class: "emoji-picker-container balloon-form-input" } %>
    <div class="balloon-form">
      <%= f.input :post_img, label: false %>
      <%= f.input :post_img_cache, as: :hidden %>
      <%= f.input :remote_post_img_url, label: false, placeholder: "Link da imagem ou do GIF", input_html: { class: "balloon-form-input balloon-form-link" } %>
    </div>
    <div class="answers">
      <div class="answers-fields">
        <%= f.input :option_more, label: false, wrapper_html: { class: "user-btns" }, input_html: { data: { emojiable: true }, value: "Quero saber mais", class: "emoji-picker-container user-btns-input" } %>
        <p>Para o usuário ver mais informações sobre seu post</p>
        <%= f.input :option_next, label: false, wrapper_html: { class: "user-btns" }, input_html: { data: { emojiable: true }, value: "Vamos mudar de assunto", class: "emoji-picker-container user-btns-input" } %>
      </div>
    </div>
    <div class="post-content">
      <%= f.simple_fields_for :balloons do |balloon| %>
        <%= render 'balloon_fields', f: balloon %>
      <% end %>
      <div class="new-balloon-edit">

      </div>
        <%= link_to_add_association "<div class='form-flex btn btn-plus'><i class='fa fa-plus-circle plus-post' aria-hidden='true'></i><span class='plus-name'>Novo Balão</span></div>".html_safe, f, :balloons, 'data-association-insertion-node' => '.new-balloon-edit' %>
      </div>
      <%= f.submit 'Concluir', class: "btn btn-primary btn-block btn-xs btn-edit-margin" %>
    <% end %>
  </div>
</div>
