<%= simple_form_for [@edition, @post] do |f| %>
  <div class="titulo">
    <h4>Título</h4>
    <%= f.input :headline, label: false, placeholder: "Texto", wrapper_html: { class: "emoji-picker-container" }, input_html: { data: { emojiable: true } } %>
    <%= f.input :post_img, label: false %>
    <%= f.input :post_img_cache, as: :hidden %>
  </div>

  <div class="respostas">
    <h4>Customizar respostas</h4>
    <%= f.input :option_more, label: false, placeholder: "Mais informações", wrapper_html: { class: "emoji-picker-container" }, input_html: { data: { emojiable: true } } %>
    <%= f.input :option_next, label: false, placeholder: "Próximo post", wrapper_html: { class: "emoji-picker-container" }, input_html: { data: { emojiable: true } } %>
  </div>

  <%= f.submit 'Criar um balão', class: "btn btn-primary" %>
<% end %>

